body {
margin: 0;
box-sizing: border-box;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
font-family: 'Kanit', sans-serif;
font-size: bold;



}
ul {
  padding-left: 0;
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  background-color: rgb(39, 206, 206);
  min-width:300px;
  border-radius: 14px;
  padding: 15px;
  background: linear-gradient(to right, rgb(171, 180, 185), rgb(87, 180, 241));
  opacity: 75%;
  word-wrap: break-word;
  margin-left: 10px;
  border: solid 3px rgb(105, 90, 90);
  box-shadow: 2px 2px;
  
  
  


  
} 







.cards-style {

  display: flex;
  gap: 20px;

}


.form-style {
  color: white;

  padding-bottom: 15px;
  width: 100%;
  /* margin-left: 35%; */
  

}

.inputs {
  width: 300px;
  height: 25px;
  margin-top: 10px;
  border-radius: 12px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.password-space { 
  margin-bottom: 15px;
  
}

/* buttons */



.fa-trash-can {
  background-color: red;
  color: azure;
  padding: 10px;
  border: none;
  border-radius: 10px;

}

.fa-pen {
  background-color:rgb(58, 58, 180);
  color: azure;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 3px;

}

.btn-74,
.btn-74 *,
.btn-74 :after,
.btn-74 :before,
.btn-74:after,
.btn-74:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-74 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 0.2;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 3px;
}
.btn-74:disabled {
  cursor: default;
}
.btn-74:-moz-focusring {
  outline: auto;
}
.btn-74 svg {
  display: block;
  vertical-align: middle;
}
.btn-74 [hidden] {
  display: none;
}
.btn-74 {
  background: #f7eff4;
  border-radius: 999px;
  box-shadow: inset 4.3px 4.3px 7px #fff;
  box-sizing: border-box;
  color: #444;
  display: block;
  filter: drop-shadow(3.4px 3.4px 3.4px rgb(183, 177, 181))
    drop-shadow(-3.4px -3.4px 3.4px white);
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
  margin: auto;
}
.btn-74:active {
  box-shadow: inset 4.3px 4.3px 7px #b7b1b5;
  filter: drop-shadow(0 0 0 rgb(183, 177, 181));
}

.separation {
  margin: 15px 0 15px 0;

}

@media (max-width: 767px) {

  .cards-style {
    display: flex;
    flex-wrap: wrap; 
    margin: 10px 0 10px 0;
    align-items: center;
    justify-content: center;

  }
   
}